<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td class="text-primary">
                                            $36,738
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Curaçao
                                        </td>
                                        <td>
                                            Sinaai-Waas
                                        </td>
                                        <td class="text-primary">
                                            $23,789
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Netherlands
                                        </td>
                                        <td>
                                            Baileux
                                        </td>
                                        <td class="text-primary">
                                            $56,142
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Korea, South
                                        </td>
                                        <td>
                                            Overland Park
                                        </td>
                                        <td class="text-primary">
                                            $38,735
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td>
                                            Malawi
                                        </td>
                                        <td>
                                            Feldkirchen in Kärnten
                                        </td>
                                        <td class="text-primary">
                                            $63,542
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Chile
                                        </td>
                                        <td>
                                            Gloucester
                                        </td>
                                        <td class="text-primary">
                                            $78,615
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Table on Plain Background</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td>
                                            $36,738
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Curaçao
                                        </td>
                                        <td>
                                            Sinaai-Waas
                                        </td>
                                        <td>
                                            $23,789
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Netherlands
                                        </td>
                                        <td>
                                            Baileux
                                        </td>
                                        <td>
                                            $56,142
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Korea, South
                                        </td>
                                        <td>
                                            Overland Park
                                        </td>
                                        <td>
                                            $38,735
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td>
                                            Malawi
                                        </td>
                                        <td>
                                            Feldkirchen in Kärnten
                                        </td>
                                        <td>
                                            $63,542
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Chile
                                        </td>
                                        <td>
                                            Gloucester
                                        </td>
                                        <td>
                                            $78,615
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Material Dashboard PRO Angular</h4>
                        <p class="card-category">Are you looking for more components? Please check our Premium Version
                            of Material Dashboard Angular.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-upgrade">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-center">Free</th>
                                        <th class="text-center">PRO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Components</td>
                                        <td class="text-center">60</td>
                                        <td class="text-center">200</td>
                                    </tr>
                                    <tr>
                                        <td>Plugins</td>
                                        <td class="text-center">2</td>
                                        <td class="text-center">15</td>
                                    </tr>
                                    <tr>
                                        <td>Example Pages</td>
                                        <td class="text-center">3</td>
                                        <td class="text-center">27</td>
                                    </tr>
                                    <tr>
                                        <td>Login, Register, Pricing, Lock Pages</td>
                                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <td>DataTables, VectorMap, SweetAlert, Wizard, jQueryValidation, FullCalendar
                                            etc...</td>
                                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Mini Sidebar</td>
                                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Premium Support</td>
                                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="text-center">Free</td>
                                        <td class="text-center">Just $59</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <a href="javascript:void(0)"
                                                class="btn btn-round btn-fill btn-default disabled">Current Version</a>
                                        </td>
                                        <td class="text-center">
                                            <a target="_blank"
                                                href="javascript:void(0)"
                                                class="btn btn-round btn-fill btn-info">Upgrade to PRO</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Notifications</h3>
                <p class="card-category">Handcrafted by our friend
                    <a target="_blank" href="https://github.com/mouse0270">Robert McIntosh</a>. Please checkout the
                    <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a>
                </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Notifications Style</h4>
                        <div class="alert alert-info">
                            <span>This is a plain notification</span>
                        </div>
                        <div class="alert alert-info">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>This is a notification with close button.</span>
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span data-notify="message">This is a notification with close button and icon.</span>
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span data-notify="message">This is a notification with close button and icon and have many
                                lines. You can see that the icon and the close button are always vertically aligned.
                                This is a beautiful notification. So you don't have to worry about the style.</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="card-title">Notification states</h4>
                        <div class="alert alert-info">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Info - </b> This is a regular notification made with ".alert-info"</span>
                        </div>
                        <div class="alert alert-success">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Success - </b> This is a regular notification made with ".alert-success"</span>
                        </div>
                        <div class="alert alert-warning">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
                        </div>
                        <div class="alert alert-danger">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
                        </div>
                        <div class="alert alert-primary">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="places-buttons">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto text-center">
                            <h4 class="card-title">
                                Notifications Places
                                <p class="category">Click to view notifications</p>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block"
                                        (click)="showNotification('top','left')">Top Left</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block"
                                        (click)="showNotification('top','center')">Top Center</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block"
                                        (click)="showNotification('top','right')">Top Right</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block"
                                        (click)="showNotification('bottom','left')">Bottom Left</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block"
                                        (click)="showNotification('bottom','center')">Bottom Center</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block"
                                        (click)="showNotification('bottom','right')">Bottom Right</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Material Dashboard Heading</h4>
                <p class="card-category">Created using Roboto Font Family</p>
            </div>
            <div class="card-body">
                <div id="typography">
                    <div class="card-title">
                        <h2>Typography</h2>
                    </div>
                    <div class="row">
                        <div class="tim-typo">
                            <h1>
                                <span class="tim-note">Header 1</span>The Life of Material Dashboard </h1>
                        </div>
                        <div class="tim-typo">
                            <h2>
                                <span class="tim-note">Header 2</span>The Life of Material Dashboard</h2>
                        </div>
                        <div class="tim-typo">
                            <h3>
                                <span class="tim-note">Header 3</span>The Life of Material Dashboard</h3>
                        </div>
                        <div class="tim-typo">
                            <h4>
                                <span class="tim-note">Header 4</span>The Life of Material Dashboard</h4>
                        </div>
                        <div class="tim-typo">
                            <h5>
                                <span class="tim-note">Header 5</span>The Life of Material Dashboard</h5>
                        </div>
                        <div class="tim-typo">
                            <h6>
                                <span class="tim-note">Header 6</span>The Life of Material Dashboard</h6>
                        </div>
                        <div class="tim-typo">
                            <p>
                                <span class="tim-note">Paragraph</span>
                                I will be the leader of a company that ends up being worth billions of dollars, because
                                I got the answers. I understand culture. I am the nucleus. I think that’s a
                                responsibility that I have, to push possibilities, to show people, this is the level
                                that things could be at.</p>
                        </div>
                        <div class="tim-typo">
                            <span class="tim-note">Quote</span>
                            <blockquote class="blockquote">
                                <p>
                                    I will be the leader of a company that ends up being worth billions of dollars,
                                    because I got the answers. I understand culture. I am the nucleus. I think that’s a
                                    responsibility that I have, to push possibilities, to show people, this is the level
                                    that things could be at.
                                </p>
                                <small>
                                    Kanye West, Musician
                                </small>
                            </blockquote>
                        </div>
                        <div class="tim-typo">
                            <span class="tim-note">Muted Text</span>
                            <p class="text-muted">
                                I will be the leader of a company that ends up being worth billions of dollars, because
                                I got the answers...
                            </p>
                        </div>
                        <div class="tim-typo">
                            <span class="tim-note">Primary Text</span>
                            <p class="text-primary">
                                I will be the leader of a company that ends up being worth billions of dollars, because
                                I got the answers... </p>
                        </div>
                        <div class="tim-typo">
                            <span class="tim-note">Info Text</span>
                            <p class="text-info">
                                I will be the leader of a company that ends up being worth billions of dollars, because
                                I got the answers... </p>
                        </div>
                        <div class="tim-typo">
                            <span class="tim-note">Success Text</span>
                            <p class="text-success">
                                I will be the leader of a company that ends up being worth billions of dollars, because
                                I got the answers... </p>
                        </div>
                        <div class="tim-typo">
                            <span class="tim-note">Warning Text</span>
                            <p class="text-warning">
                                I will be the leader of a company that ends up being worth billions of dollars, because
                                I got the answers...
                            </p>
                        </div>
                        <div class="tim-typo">
                            <span class="tim-note">Danger Text</span>
                            <p class="text-danger">
                                I will be the leader of a company that ends up being worth billions of dollars, because
                                I got the answers... </p>
                        </div>
                        <div class="tim-typo">
                            <h2>
                                <span class="tim-note">Small Tag</span>
                                Header with small subtitle
                                <br>
                                <small>Use "small" tag for the headers</small>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Material Design Icons</h4>
                <p class="card-category">Handcrafted by our friends from
                    <a target="_blank" href="https://design.google.com/icons/">Google</a>
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="iframe-container d-none d-lg-block">
                            <iframe src="https://design.google.com/icons/">
                                <p>Your browser does not support iframes.</p>
                            </iframe>
                        </div>
                        <div
                            class="col-md-12 d-none d-sm-block d-md-block d-lg-none d-block d-sm-none text-center ml-auto mr-auto">
                            <h5>The icons are visible on Desktop mode inside an iframe. Since the iframe is not working
                                on Mobile and Tablets please visit the icons on their original page on Google. Check the
                                <a href="https://design.google.com/icons/" target="_blank">Material Icons</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>