<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Busqueda Libro</h4>
                        <p class="card-category">Listado libros encontrados</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>ID</th>
                                    <th>Titulo</th>
                                    <th>Autor</th>
                                    <th>Edicion</th>
                                    <th>Editorial</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let libro of resultadoBusquedaLibro">
                                        <td>
                                            {{libro?.idLibro}}
                                        </td>
                                        <td>
                                            {{libro?.titulo}}
                                        </td>
                                        <td>
                                            {{libro?.autor}}
                                        </td>
                                        <td>
                                            {{libro?.edicion}}
                                        </td>
                                        <td>
                                            {{libro?.editorial}}
                                        </td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>